In [ ]:
import pandas as pd

# Exercises

**Exercise 1**: Create a `DataFrame` that looks like this:

![](https://i.imgur.com/Ax3pp2A.png)

In [10]:
df = pd.DataFrame({"Apples": [30] , "Bananas" : [21]})
print(df)

   Apples  Bananas
0      30       21

**Exercise 2**: Create the following `DataFrame`:

![](https://i.imgur.com/CHPn7ZF.png)

In [11]:
df = pd.DataFrame({"Apples" : [35,41] , "Bananas" : [21,34]} , index = ["2017 Sales" , "2018 Sales"])
df

            Apples  Bananas
2017 Sales      35       21
2018 Sales      41       34

**Exercise 3**: Create a `Series` that looks like this:

```
Flour     4 cups
Milk       1 cup
Eggs     2 large
Spam       1 can
Name: Dinner, dtype: object
```

In [12]:
s = pd.Series(["4 cups" , "1 cup" , "2 large","1 can"] , index=["Flour" , "Milk" , "Eggs" , "Spam"] , name = "Dinner")
s

Flour     4 cups
Milk       1 cup
Eggs     2 large
Spam       1 can
Name: Dinner, dtype: object

**Exercise 4**: Read the following `csv` dataset on wine reviews into the a `DataFrame`:

![](https://i.imgur.com/74RCZtU.png)

The filepath to the CSV file is `../input/wine-reviews/winemag-data_first150k.csv`.

In [5]:
data = pd.read_csv("../input/wine-reviews/winemag-data_first150k.csv")
data

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,variety,winery
0,0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz
1,1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez
2,2,US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,96,90.0,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley
3,3,US,"This spent 20 months in 30% new French oak, an...",Reserve,96,65.0,Oregon,Willamette Valley,Willamette Valley,Pinot Noir,Ponzi
4,4,France,"This is the top wine from La Bégude, named aft...",La Brûlade,95,66.0,Provence,Bandol,NaN,Provence red blend,Domaine de la Bégude
5,5,Spain,"Deep, dense and pure from the opening bell, th...",Numanthia,95,73.0,Northern Spain,Toro,NaN,Tinta de Toro,Numanthia
6,6,Spain,Slightly gritty black-fruit aromas include a s...,San Román,95,65.0,Northern Spain,Toro,NaN,Tinta de Toro,Maurodos
7,7,Spain,Lush cedary black-fruit aromas are luxe and of...,Carodorum Único Crianza,95,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez
8,8,US,This re-named vineyard was formerly bottled as...,Silice,95,65.0,Oregon,Chehalem Mountains,Willamette Valley,Pinot Noir,Bergström
9,9,US,The producer sources from two blocks of the vi...,Gap's Crown Vineyard,95,60.0,California,Sonoma Coast,Sonoma,Pinot Noir,Blue Farm
10,10,Italy,"Elegance, complexity and structure come togeth...",Ronco della Chiesa,95,80.0,Northeastern Italy,Collio,NaN,Friulano,Borgo del Tiglio
11,11,US,"From 18-year-old vines, this supple well-balan...",Estate Vineyard Wadensvil Block,95,48.0,Oregon,Ribbon Ridge,Willamette Valley,Pinot Noir,Patricia Green Cellars
12,12,US,A standout even in this terrific lineup of 201...,Weber Vineyard,95,48.0,Oregon,Dundee Hills,Willamette Valley,Pinot Noir,Patricia Green Cellars
13,13,France,This wine is in peak condition. The tannins an...,Château Montus Prestige,95,90.0,Southwest France,Madiran,NaN,Tannat,Vignobles Brumont
14,14,US,"With its sophisticated mix of mineral, acid an...",Grace Vineyard,95,185.0,Oregon,Dundee Hills,Willamette Valley,Pinot Noir,Domaine Serene
15,15,US,"First made in 2006, this succulent luscious Ch...",Sigrid,95,90.0,Oregon,Willamette Valley,Willamette Valley,Chardonnay,Bergström
16,16,US,"This blockbuster, powerhouse of a wine suggest...",Rainin Vineyard,95,325.0,California,Diamond Mountain District,Napa,Cabernet Sauvignon,Hall
17,17,Spain,"Nicely oaked blackberry, licorice, vanilla and...",6 Años Reserva Premium,95,80.0,Northern Spain,Ribera del Duero,NaN,Tempranillo,Valduero
18,18,France,Coming from a seven-acre vineyard named after ...,Le Pigeonnier,95,290.0,Southwest France,Cahors,NaN,Malbec,Château Lagrézette
19,19,US,This fresh and lively medium-bodied wine is be...,Gap's Crown Vineyard,95,75.0,California,Sonoma Coast,Sonoma,Pinot Noir,Gary Farrell
20,20,US,Heitz has made this stellar rosé from the rare...,Grignolino,95,24.0,California,Napa Valley,Napa,Rosé,Heitz
21,21,Spain,"Alluring, complex and powerful aromas of grill...",Prado Enea Gran Reserva,95,79.0,Northern Spain,Rioja,NaN,Tempranillo Blend,Muga
22,22,Spain,Tarry blackberry and cheesy oak aromas are app...,Termanthia,95,220.0,Northern Spain,Toro,NaN,Tinta de Toro,Numanthia
23,23,US,The apogee of this ambitious winery's white wi...,Giallo Solare,95,60.0,California,Edna Valley,Central Coast,Chardonnay,Center of Effort
24,24,US,"San Jose-based producer Adam Comartin heads 1,...",R-Bar-R Ranch,95,45.0,California,Santa Cruz Mountains,Central Coast,Pinot Noir,Comartin
25,25,New Zealand,"Yields were down in 2015, but intensity is up,...",Maté's Vineyard,94,57.0,Kumeu,NaN,NaN,Chardonnay,Kumeu River
26,26,US,Bergström has made a Shea designate since 2003...,Shea Vineyard,94,62.0,Oregon,Willamette Valley,NaN,Pinot Noir,Bergström
27,27,US,"Focused and dense, this intense wine captures ...",Abetina,94,105.0,Oregon,Willamette Valley,Willamette Valley,Pinot Noir,Ponzi
28,28,US,"Cranberry, baked rhubarb, anise and crushed sl...",Garys' Vineyard,94,60.0,California,Santa Lucia Highlands,Central Coast,Pinot Noir,Roar
29,29,US,This standout Rocks District wine brings earth...,The Funk Estate,94,60.0,Washington,Walla Walla Valley (WA),Columbia Valley,Syrah,Saviah
...,...,...,...,...,...,...,...,...,...,...,...
150900,150900,Chile,"Aromas of freshly cut lumber, complete with so...",Prima Reserva,81,13.0,Maipo Valley,NaN,NaN,Cabernet Sauvignon,De Martino
150901,150901,Chile,"Lavishly oaked, the fruit here struggles to ma...",Reserva,81,12.0,Maipo Valley,NaN,NaN,Merlot,Undurraga
150902,150902,Chile,This medium weight Chardonnay offered aromas o...,Estate Bottled,81,10.0,Maipo Valley,NaN,NaN,Chardonnay,De Martino
150903,150903,Chile,Very light berry and mint aromas open this aus...,120,81,7.0,Rapel Valley,NaN,NaN,Cabernet Sauvignon,Santa Rita
150904,150904,Chile,A lot of Chilean Cabernets seem to have a dist...,NaN,81,10.0,Maipo Valley,NaN,NaN,Cabernet Sauvignon,De Martino
150905,150905,Chile,There's not much point in making a reserve-sty...,Prima Reserva,80,13.0,Maipo Valley,NaN,NaN,Merlot,De Martino
150906,150906,France,"This lovely wine, a Monopole, is already showi...",Clos des Reas,93,65.0,Burgundy,Vosne-Romanée,NaN,Pinot Noir,Michel Gros
150907,150907,France,"Rion holds back on the new oak, letting the pu...",Les Beaux-Monts,92,52.0,Burgundy,Vosne-Romanée,NaN,Pinot Noir,Daniel Rion
150908,150908,France,"Another premier cru from Michel Gros, this one...",Aux Brulees,90,65.0,Burgundy,Vosne-Romanée,NaN,Pinot Noir,Michel Gros
150909,150909,France,"This is a lovely, fragrant Burgundy, with a sm...",Clos dea Argillieres,89,52.0,Burgundy,Nuits-St.-Georges,NaN,Pinot Noir,Daniel Rion
150910,150910,France,Scents of graham cracker and malted milk choco...,NaN,89,38.0,Burgundy,Chambolle-Musigny,NaN,Pinot Noir,Michel Gros
150911,150911,France,"This needs a good bit of breathing time, then ...",Les Chaliots,87,37.0,Burgundy,Nuits-St.-Georges,NaN,Pinot Noir,Michel Gros
150912,150912,France,The nose is dominated by the attractive scents...,Les Charmes,87,65.0,Burgundy,Chambolle-Musigny,NaN,Pinot Noir,Daniel Rion
150913,150913,France,"Inky and rustic, yet in a refined manner. This...",NaN,94,30.0,Rhône Valley,Châteauneuf-du-Pape,NaN,Rhône-style Red Blend,Le Vieux Donjon
150914,150914,US,"Old-gold in color, and thick and syrupy. The a...",Late Harvest Cluster Select,94,25.0,California,Anderson Valley,Mendocino/Lake Counties,White Riesling,Navarro
150915,150915,US,"Decades ago, Beringer’s then-winemaker Myron N...",Nightingale,93,30.0,California,North Coast,North Coast,White Blend,Beringer
150916,150916,US,An impressive wine that presents a full bouque...,J. Schram,93,65.0,California,Napa Valley,Napa,Champagne Blend,Schramsberg
150917,150917,France,"Light and elegant, this spicy, lively wine is ...",Brut Mosaïque,92,30.0,Champagne,Champagne,NaN,Champagne Blend,Jacquart
150918,150918,France,"Jacquart makes a full-bodied, ripe style of Ch...",Cuvée Mosaïque,92,38.0,Champagne,Champagne,NaN,Champagne Blend,Jacquart
150919,150919,France,This classy example opens with a very floral n...,Cuvée President,91,37.0,Champagne,Champagne,NaN,Champagne Blend,H.Germain
150920,150920,Italy,"Rich and mature aromas of smoke, earth and her...",Brut Riserva,91,19.0,Northeastern Italy,Trento,NaN,Champagne Blend,Letrari
150921,150921,France,Shows some older notes: a bouquet of toasted w...,Blanc de Blancs Brut Mosaïque,91,38.0,Champagne,Champagne,NaN,Champagne Blend,Jacquart
150922,150922,Italy,Made by 30-ish Roberta Borghese high above Man...,Superiore,91,NaN,Northeastern Italy,Colli Orientali del Friuli,NaN,Tocai,Ronchi di Manzano
150923,150923,France,"Rich and toasty, with tiny bubbles. The bouque...",Demi-Sec,91,30.0,Champagne,Champagne,NaN,Champagne Blend,Jacquart
150924,150924,France,"Really fine for a low-acid vintage, there's an...",Diamant Bleu,91,70.0,Champagne,Champagne,NaN,Champagne Blend,Heidsieck & Co Monopole
150925,150925,Italy,Many people feel Fiano represents southern Ita...,NaN,91,20.0,Southern Italy,Fiano di Avellino,NaN,White Blend,Feudi di San Gregorio
150926,150926,France,"Offers an intriguing nose with ginger, lime an...",Cuvée Prestige,91,27.0,Champagne,Champagne,NaN,Champagne Blend,H.Germain
150927,150927,Italy,This classic example comes from a cru vineyard...,Terre di Dora,91,20.0,Southern Italy,Fiano di Avellino,NaN,White Blend,Terredora
150928,150928,France,"A perfect salmon shade, with scents of peaches...",Grand Brut Rosé,90,52.0,Champagne,Champagne,NaN,Champagne Blend,Gosset
150929,150929,Italy,More Pinot Grigios should taste like this. A r...,NaN,90,15.0,Northeastern Italy,Alto Adige,NaN,Pinot Grigio,Alois Lageder

**Exercise 5**: Read the following `xls` sheet into a `DataFrame`: 

![](https://i.imgur.com/QZJBIBF.png)

The filepath to the XLS file is `../input/publicassistance/xls_files_all/WICAgencies2014ytd.xls`.

Hint: the name of the method you need inclues the word `excel`. The name of the sheet is `Pregnant Women Participating`. Don't do any cleanup.

In [7]:
read = pd.read_excel("../input/publicassistance/xls_files_all/WICAgencies2014ytd.xls", sheet_name="Pregnant Women Participating" )
read

,WIC PROGRAM -- NUMBER OF PREGNANT WOMEN PARTICIPATING,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,FISCAL YEAR 2014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"Data as of January 05, 2018",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,State Agency or Indian Tribal Organization,2013-10-01 00:00:00,2013-11-01 00:00:00,2013-12-01 00:00:00,2014-01-01 00:00:00,2014-02-01 00:00:00,2014-03-01 00:00:00,2014-04-01 00:00:00,2014-05-01 00:00:00,2014-06-01 00:00:00,2014-07-01 00:00:00,2014-08-01 00:00:00,2014-09-01 00:00:00,Average Participation
4,Connecticut,5847,5476,5274,5360,5056,5319,5500,5717,5703,5905,5754,5624,5544.58
5,Maine,2100,1987,1927,1992,1968,2019,2000,2009,1927,2037,1991,1948,1992.08
6,Massachusetts,11274,10773,10242,10617,10354,10852,11141,11305,11265,11328,11091,11051,10941.1
7,New Hampshire,1469,1342,1352,1397,1401,1497,1535,1587,1531,1547,1494,1433,1465.42
8,New York,45295,43567,41967,41780,41579,43307,44400,45745,46051,45881,45096,44473,44095.1
9,Rhode Island,2419,2217,2159,2200,2166,2203,2289,2359,2317,2311,2252,2276,2264
10,Vermont,1173,1136,1168,1129,1177,1146,1142,1077,1084,1095,1045,1034,1117.17
11,"Indian Township, ME",7,8,10,10,12,10,13,6,9,11,14,11,10.0833
12,"Pleasant Point, ME",5,5,4,4,7,7,7,9,10,13,15,15,8.41667
13,"Seneca Nation, NY",29,22,23,25,26,17,18,19,29,27,23,15,22.75
14,Northeast Region,69618,66533,64126,64514,63746,66377,68045,69833,69926,70155,68775,67880,67460.7
15,Delaware,2370,2163,2043,1970,2020,2028,1987,2050,2102,2207,2167,2198,2108.75
16,District of Columbia,1451,1397,1278,1309,1271,1286,1324,1396,1470,1458,1452,1439,1377.58
17,Maryland,15022,14301,13658,13979,13853,14220,14687,14897,15408,15767,15548,15609,14745.8
18,New Jersey,14471,13874,13565,13630,13431,14126,14384,14689,14786,14997,14902,14710,14297.1
19,Pennsylvania,18697,18308,17322,16993,16609,17432,17978,18119,17501,18244,17831,18213,17770.6
20,Puerto Rico,17751,16585,16447,15850,16004,16847,17085,17193,17479,17725,17694,17272,16994.3
21,Virginia,17409,16408,15543,15083,14997,15267,15321,15231,15022,15625,15721,15377,15583.7
22,Virgin Islands,430,384,348,348,358,355,326,346,340,376,382,404,366.417
23,West Virginia,4833,4588,4344,4398,4369,4546,4597,4564,4565,4642,4523,4503,4539.33
24,Mid-Atlantic Region,92434,88008,84548,83560,82912,86107,87689,88485,88673,91041,90220,89725,87783.5
25,Alabama,15418,13364,13862,14559,13977,14352,14916,15500,16131,16539,16771,16898,15190.6
26,Florida,50795,47822,45000,44083,44971,45648,47157,48141,49937,51447,52080,51990,48255.9
27,Georgia,20424,18727,18605,19324,19113,19965,20411,20829,20955,21090,20628,20779,20070.8
28,Kentucky,14942,14178,13750,13751,13856,14404,14609,14749,14885,14965,14697,14411,14433.1
29,Mississippi,8677,7943,7693,8046,7943,8741,9181,9707,10150,10354,10196,9856,9040.58
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76,"Ute Mountain Ute Tribe, CO",21,20,19,17,19,23,22,23,25,25,26,23,21.9167
77,"Omaha Sioux, NE",33,25,29,26,29,30,27,30,31,35,28,26,29.0833
78,"Santee Sioux, NE",16,20,19,19,17,16,16,17,18,16,14,13,16.75
79,"Winnebago Tribe, NE",41,40,35,32,30,27,27,28,18,17,20,18,27.75
80,"Standing Rock Sioux Tribe, ND",82,90,96,94,89,91,94,83,75,79,87,87,87.25
81,"Three Affiliated Tribes, ND",25,29,28,32,33,32,33,32,27,25,19,20,27.9167
82,"Cheyenne River Sioux, SD",78,75,72,76,69,58,65,71,81,79,76,82,73.5
83,"Rosebud Sioux, SD",118,109,104,108,102,104,113,112,107,104,86,85,104.333
84,"Northern Arapahoe, WY",44,37,43,39,47,44,38,34,41,40,30,33,39.1667
85,"Shoshone Tribe, WY",15,16,15,14,16,17,18,15,16,18,16,18,16.1667
86,Mountain Plains,51996,49530,48444,50199,50548,51603,52976,53334,53462,54073,53434,52847,51870.5
87,Alaska,2248,2106,1958,2018,1991,2003,1996,2030,2059,2054,2017,1983,2038.58
88,American Samoa,372,364,337,347,353,397,399,407,419,410,407,394,383.833
89,Arizona,14247,12775,12599,13404,12941,13278,13791,14181,14740,15149,15049,14177,13860.9
90,California,122546,113736,115089,121683,117045,120509,123513,123711,124997,127758,124058,120264,121242
91,Guam,600,546,513,491,499,525,554,571,554,544,564,584,545.417
92,Hawaii,3359,3120,2925,3021,2944,2956,3012,3022,2946,3096,3050,3050,3041.75
93,Idaho,3923,3924,3863,4059,4116,4097,4228,4229,4168,4219,4187,4084,4091.42
94,Nevada,6470,6089,5899,6195,6192,6425,6515,6755,6696,6845,6751,6543,6447.92
95,Oregon,10672,10381,10126,10550,10480,10648,10775,10674,10612,10542,10228,9976,10472
96,Washington,17796,16997,16740,18028,17329,17632,17915,17978,17600,17862,17223,17170,17522.5
97,Northern Marianas,332,296,279,283,302,295,299,315,319,292,270,260,295.167
98,"Inter-Tribal Council, AZ",901,750,802,953,870,880,898,888,913,920,902,811,874
99,"Navajo Nation, AZ",1005,900,913,1019,975,999,1034,1027,1028,1092,1051,1003,1003.83
100,"Inter-Tribal Council, NV",117,114,115,118,122,125,123,109,109,106,109,110,114.75
101,Western Region,184588,172098,172158,182169,176159,180769,185052,185897,187160,190889,185866,180409,181934
102,TOTAL,830993,781404,759031,776093,765879,788043,807391,820408,830885,846666,836441,824068,805608
103,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
105,All data are preliminary and are subject to re...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

**Exercise 6**: Suppose we have the following `DataFrame`:

In [14]:
q6_df = pd.DataFrame({'Cows': [12, 20], 'Goats': [22, 19]}, index=['Year 1', 'Year 2'])

Save this `DataFrame` to disc as a `csv` file with the name `cows_and_goats.csv`.

In [15]:
q6_df.to_csv("cows_and_goats.csv")
read= pd.read_csv("cows_and_goats.csv",index_col=0)
read

        Cows  Goats
Year 1    12     22
Year 2    20     19

**Exercise 7**: This exercise is optional. Read the following `SQL` data into a `DataFrame`:

![](https://i.imgur.com/mmvbOT3.png)

The filepath is `../input/pitchfork-data/database.sqlite`. Hint: use the `sqlite3` library. The name of the table is `artists`.

In [6]:
import sqlite3
import pandas as pd
conn = sqlite3.connect("../input/pitchfork-data/database.sqlite")
artists = pd.read_sql_query("SELECT * FROM artists", conn)
artists

       reviewid               artist
0         22703       massive attack
1         22721             krallice
2         22659         uranium club
3         22661              kleenex
4         22661              liliput
5         22725                 taso
6         22722      various artists
7         22704          little simz
8         22694           yotam avni
9         22714            brian eno
10        22724              the lox
11        22715        harry bertoia
12        22745       run the jewels
13        22700       steven warwick
14        22720           yasiin bey
15        22699            smoke dza
16        22699            pete rock
17        22665      various artists
18        22666              senyawa
19        22719    chance the rapper
20        22719              jeremih
21        22667      jamire williams
22        22691            the-dream
23        22702       worm ouroboros
24        22718      nine inch nails
25        22706           elder ones
26        22695      the microphones
27        22713            ben frost
28        22705      kacey musgraves
29        22532              jay som
...         ...                  ...
18801       831                 blur
18802      7339          songs: ohia
18803      4850               looper
18804      8598  the wedding present
18805      1608            cornelius
18806      1610            cornelius
18807      4324        damien jurado
18808      7449         squarepusher
18809      1514               clinic
18810      8677                wilco
18811      7051              sebadoh
18812      6435      poster children
18813      1014       built to spill
18814      7460         starflyer 59
18815      2965        jason falkner
18816      7981              the the
18817      8835                  xtc
18818      6138            pan sonic
18819      1242             califone
18820      1023     burning airlines
18821       287   arling and cameron
18822      3741  john wesley harding
18823      6455           sam prekop
18824       361             autechre
18825      6372                 pole
18826      1535              coldcut
18827      1341              cassius
18828      5376             mojave 3
18829      2413        don caballero
18830      3723       neil hamburger

[18831 rows x 2 columns]